@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --borderTp: none;
    --borderLeft: none;
    --borderRight: none;
    --borderBtm: 1px solid #000000;
    --label: 24px;
    --borderNone: none;
    --white: #FFFFFF;
    --none-outlline: none;
}

body {
    background-color: #fff !important;
}

header {
    background-color: #A6CBDE;
    height: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

header img {
    height: 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textare-wrapper {
    width: 100%;
    margin-top: 10px;
}

.form {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

main form h1 {
    padding-top: 10px;


}

main form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 20vh;

}

.name-email-wrapper,
.phone-company-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
}

.right-content {
    padding-left: 150px;
}

.input-wrapper {
    margin-top: 20px;
    width: 45%;
}

.input-wrapper label {
    display: block;
}

.input-wrapper input {
    height: 30px;
    width: 100%;
    border: var(--borderNone);
    border-bottom: var(--borderBtm);
    padding-left: 5px;
    outline: var(--none-outlline);
}

.textare-wrapper textarea {
    width: 100%;
    border: var(--borderNone);
    border-bottom: var(--borderBtm);
    padding-left: 5px;
    outline: var(--none-outlline);
}

#form-container {
    width: 80%;
    display: block;

}

.btn {
    display: flex;
    /*padding-top: 30px;
    align-items: center;

    margin-right: 100px; */
    justify-content: center;
    width: 100%;
}

.btn button {
    height: 55px;
    width: 131px;
    margin-top: 20px;
}

.btn-send {
    background-color: #A6CBDE;
    border: var(--borderNone);
    margin-right: 30px;
    color: var(--white);
    font-size: var(--label);
}

.btn-reset {
    background-color: #A2A3A4;
    border: var(--borderNone);
    margin-left: 30px;
    color: var(--white);
    font-size: var(--label);
}

.btn-send:hover,
.btn-reset:hover {
    background-color: #222A2E;
    cursor: pointer;
}

footer {
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    background-color: #222A2E;
    color: #ffffff;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-weight: bold;
    font-size: 13px;
}

.hidden {
    display: none;
}

.loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.87);
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    background: rgb(204, 61, 61);
    color: white;
    z-index: 1;
    position: fixed;
    border: none;
    border-radius: 200px;
    padding: 0.2rem 0.4rem;
    font-weight: bolder;
    top: 2%;
    right: 50%;
    box-shadow: 0 3px 30px rgb(37, 37, 37);
    cursor: pointer;
}

.close:hover {
    opacity: 75%;
}




@media screen and (max-width: 768px) {
    #form-container {
        width: 90%;
    }

    .input-wrapper {
        margin-top: 20px;
        width: 100%;
    }
}

@media screen and (min-width: 2321px) {

    #form-container {
        width: 1160px;
    }
}